{% extends 'base.html.twig' %}

{% block title %}Liste des lieux{% endblock %}

{% block body %}
    <h1>Liste des {{ resource }}</h1>

    <ul>
    {% for location in locations %}
        <li><a href="{{ path('locations_show', {id: location.id}) }}">{{ location.designation }}</a>
            {% if location.website %}
            - <a href="{{ location.website }}" target="_blank">{{ location.website }}</a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>

{% endblock %}
